<footer class="pt-2 pb-1 text-center">
  <p>MaxShape  - 101 Chemin du Pey de l'Ancre, 40660 Messanges <br>Tel : 06 99 72 46 13  -  Mail : <a href="mailto:maxshape@hotmail.fr">maxshape@hotmail.fr</a></p>
  <p><a href="/cgu">Conditions Générales d'Utilisation</a> - Copyright © 2022 - Tous droits réservés - Max Shape Surfboards</p>
</footer>