body {
  background-image: url(/assets/maxshape-background-a-propos.jpg);
}

#a-propos-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.a-propos {
  display: flex;
  flex-direction: column;
  width: 90%;
  background: rgba(255, 255, 255, 0.6);
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 150px;
}

@media screen and (min-width: 650px) {
  .a-propos {
    padding: 25px;
    margin-bottom: 30px;
  }
}