@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

html,
body {
  position: absolute;
  margin: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  font-family: "open sans", sans-serif;
  background-size: cover;
  background-attachment: fixed;
}

header {
  background-image: url(/assets/maxshape-header-background.jpg);
  text-shadow: 2px 2px 4px #2f2e2e;
}

header nav {
  justify-content: space-around;
}

header .logo-wrapper,
header .nav-link {
  color: #2f2e2e;
  font-weight: 700;
}

header .nav-link.active,
header .nav-link.active:hover {
  color: #fffefd;
}

header .nav-link:hover,
header .logo-wrapper:hover {
  color: #2f2e2e;
  filter: drop-shadow(0 0 5px #fffefd);
}

header .border-xl-right {
  border-right: 1px solid #2f2e2e;
}

header svg,
header .nav-link,
header .logo-wrapper {
  transition-duration: 250ms;
}

header svg:hover {
  filter: drop-shadow(0 0 5px #fffefd);
}

h1,
h2,
h3 {
  font-family: 'Anton', sans-serif;
}

h1 {
  font-size: 40px;
  text-align: center;
  padding-inline: 10px;
  padding-top: 15px;
  text-shadow: 0 0 5px #fffefd;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

p,
ul {
  font-size: 12px;
  text-align: justify;
}

main .navbar {
  display: none;
  text-align: center;
  margin-bottom: 150px;
  padding-inline: 20px;
  background: rgba(50, 69, 89, 0.5);
  border-radius: 10px;
}

.border-gold-right {
  border-right: none;
}

main img {
  border: 10px solid #fffefd ;
  box-shadow: 2px 2px 10px #2f2e2e;
  margin-bottom: 20px;
  width: 90%;
  max-width: 500px;
  height: auto;
  border-radius: 5px;
}

main .nav-link {
  color: #fffefd;
  font-weight: 700;
  font-size: 0.85rem;
  text-shadow: 0 0 5px #2f2e2e;
}

main .nav-link.active,
main .nav-link:hover {
  color: #de9c21;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(50, 69, 89, 0.7);
  color: #fffefd;
  font-size: 0.8rem;
  padding-inline: 10px;
  font-size: 10px;
}

footer a,
footer a:hover {
  color: #fffefd;
}

footer p {
  text-align: center;
}

@media screen and (min-width: 650px) {
  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 40px;
  }
  
  h3 {
    font-size: 25px;
  }

  p,
  ul {
    font-size: 16px;
  }

  main .navbar {
    display: flex;
    text-align: center;
  }

  .border-gold-right {
    border-right: 1px solid #de9c21;
  }

  footer p {
    font-size: 12px;
  }
}