body {
  background-image: url(/assets/maxshape-background-index.jpg);
}

#index-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 20px;
  margin-bottom: 0;
}

h2 {
  font-size: 1.5rem;
  text-shadow: 0 0 5px #fffefd;
  letter-spacing: 0.5rem;
}

.index-video-loop {
  width: 90%;
  max-width: 1080px;
  margin-top: 40px!important;
  border-radius: 20px;
}

.shadow-light {
  box-shadow: 0 0 20px #fffefd;
}
