---
title: A PROPOS
description: Max Shape | Fabrication artisanale et écologique de planches de Surf en bois, non stratifiées, simplement vernies | Shape sur mesure.
layout: layout.njk
style: /css/a-propos.css
aboutClass: active
---

{% include 'header.njk' %}

<main id="a-propos-content">
  <h1>À PROPOS</h1>
  <div class="a-propos">
    <div class="row mb-4">
      <div class="col-12 col-lg-7 ps-lg-5">
        <h2 class="mb-2">PHILOSOPHIE :</h2>
        <p>Amoureux de la flore et de la faune, j’ai le souci d’une activité humaine qui ne nuise pas à la nature. C’est pourquoi j’ai toujours cherché à travailler en produisant le moins de déchets possible, à partir des matériaux les plus respectueux possible, disponibles à proximité.</p>
        <p>J’ai donc très vite été confronté à l’enjeu de devoir fabriquer des planches de surf écologiques tout en alliant performance, légèreté et durabilité.</p>
        <p>Les procédés de fabrication en vigueur dans l’industrie du shape aujourd’hui vont à l’encontre de l’esprit même du surf, qui est une immersion dans l’océan et qui prône son respect. Ma démarche m’a conduit aux origines de notre sport à travers l’emploi de matériaux plus propres et plus nobles et donc vers le bois.</p>
      </div>
      <div class="col-12 col-lg-5 text-center">
        <img src="/assets/maxshape-philosophie.jpg" alt="Max Shape Philosophie">
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-lg-5 text-center">
        <img src="/assets/maxshape-about-04.jpg" alt="Max Shape Parcours">
      </div>
      <div class="col-12 col-lg-7 pe-lg-5">
        <h2 class="mb-2">PARCOURS :</h2>
        <p>Habile de mes mains et doué pour les travaux manuels, j’ai commencé tout jeune par me fabriquer une première planche de skate. Puis j ai commencé à shaper en délaminant d’anciennes boards pour en récupérer le pain de mousse. Dés mes débuts le recyclage à fait parti des valeurs que je défends. J’ai également pu par la suite me perfectionner en travaillant pour quelques shapers à travers la France et l’Australie</p>
        <p>L’aventure Max Shape a débuté, à proprement parler, en 2010, sans jamais perdre de vue une haute exigence environnementale. Comme beaucoup, j’ai démarré avec des pains de mousse PU et de la résine polyester. J’ai ensuite opté pour la combinaison EPS / époxy, en raison de la proximité de fabrication de mes matières premières.</p>
        <p>À force de respirer des vapeurs et poussières toxiques et de déposer en déchetterie de grosses quantités de déchets incinérables telle que des chutes de fibre de verre et des excédents de résine, j’ai décidé de prendre un virage radical dans mon activité. Désormais, je fabrique des planches de surf en bois non stratifiées, simplement vernies ou huilées.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-7 ps-lg-5">
        <h2 class="mb-2">LE BOIS :</h2>
        <p>Le bois de paulownia présente des propriétés tout particulièrement appropriées pour la fabrication de planches de surf. De faible densité, il est léger, un peu comme le balsa, mais, contrairement à celui-ci, il n’absorbe pas l’eau, ou très peu et on le trouve dans des forêts européennes durablement gérées. Cette caractéristique présente un double intérêt : l’étanchéité, d’une part, mais aussi l’absence de déformation que cause l’humidité aux autres essences de bois.</p>
        <p>Ses propriétés, le paulownia les tire notamment de la rapidité à laquelle pousse cet arbre, ce qui en fait aussi un dé-pollueur de l’atmosphère. En croissant de 1m3 en 7 à 8 ans, il absorbe jusqu'à 86Kg de carbone par an. Ajouté à son poids réduit, ce qui induit une moindre consommation de carburant pour son transport, le paulownia coche de nombreuses cases pour figurer parmi les matériaux écolos.</p>
        <p>Pas étonnant que cet arbre en provenance de Chine et de Corée séduise désormais de nombreux sylviculteurs en Europe. Ses fleurs au parfum agréable, parfaites pour l’apiculture, et ses larges feuilles lui confèrent aussi un intérêt au jardin. En tout état de cause, il est devenu simple de se procurer ce bois sans avoir à lui faire faire le tour du globe, en Espagne, en Italie et en France, où il est cultivé dans les exploitations raisonnées.</p>
      </div>
      <div class="col-12 col-lg-5 text-center">
        <img src="/assets/maxshape-bois.jpg" alt="Max Shape Bois">
      </div>
    </div>
  </div>

  <nav class="navbar justify-content-center">
    <a class="nav-link border-gold-right" href="/">HOME</a>
    <a class="nav-link active border-gold-right" href="/a-propos">À PROPOS</a>
    <a class="nav-link border-gold-right" href="/blog">BLOG</a>
    <a class="nav-link border-gold-right" href="/models">MODELES</a>
    <a class="nav-link border-gold-right" href="/eco-boards">ECO-BOARDS</a>
    <a class="nav-link border-gold-right" href="/galerie">GALERIE</a>
    <a class="nav-link border-gold-right" href="/contact">CONTACT</a>
    <a class="nav-link" href="/stages">STAGES</a>
  </nav>
</main>

{% include 'footer.njk' %}