---
title: BLOG
description: Max Shape | Fabrication artisanale et écologique de planches de Surf en bois, non stratifiées, simplement vernies | Shape sur mesure.
layout: layout.njk
style: /css/blog.css
blogClass: active
---

{% include 'header.njk' %}

<main id="blog-content">
  
</main>

{% include 'footer.njk' %}