---
title: CONTACT
description: Max Shape | Fabrication artisanale et écologique de planches de Surf en bois, non stratifiées, simplement vernies | Shape sur mesure.
layout: layout.njk
style: /css/contact.css
contactClass: active
---

{% include 'header.njk' %}

<main id="contact-content">
  
</main>

{% include 'footer.njk' %}