---
title: CONTACT
description: Max Shape | Fabrication artisanale et écologique de planches de Surf en bois, non stratifiées, simplement vernies | Shape sur mesure.
layout: layout.njk
style: /css/contact.css
contactClass: active
---

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId            : 'maxshapesurfboards',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v13.0'
    });
  };
</script>
<script 
  async defer crossorigin="anonymous"
  src="https://connect.facebook.net/en_US/sdk.js">
</script>

{% include 'header.njk' %}

<main id="contact-content">
  <h1>CONTACT</h1>
  <div class="contact">
    <div class="row mb-4">
      <h2 class="mb-4 ps-md-5">Coordonnées :</h2>
      <div class="col-12 col-md-6 ps-md-5">
        <address>
          <p><strong>Adresse : </strong>101 Chemin du Pey de l'Ancre<br>40660 Messanges</p>
          <p><strong>Téléphone : </strong><a href="mailto:maxshape@hotmail.fr">maxshape@hotmail.fr</a></p>
          <p><strong>E-mail : </strong><a href="tel:+33699724613">06 99 72 46 13</a></p>
        </address>
      </div>
      <div class="col-12 col-md-6 text-center text-md-end">
        <div
          class="fb-page me-md-5"
          data-href="https://www.facebook.com/maxshapeboards"
          data-width="300"
          data-height=""
          data-small-header="false"
          data-adapt-container-width="true"
          data-hide-cover="false"
          data-show-facepile="true">
          <blockquote cite="https://www.facebook.com/maxshapeboards" class="fb-xfbml-parse-ignore">
            <a href="https://www.facebook.com/maxshapeboards">Max Shape</a>
          </blockquote>
        </div>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-lg-7 d-flex justify-content-center justify-content-lg-start">
        <div class="mapouter ms-lg-4 mb-4">
          <div class="gmap_canvas">
            <iframe
              class="d-block d-md-none"
              width="300"
              height="200"
              id="gmap_canvas"
              src="https://maps.google.com/maps?q=101%20Chemin%20du%20Pey%20de%20l'Ancre%2040660%20Messanges&t=&z=16&ie=UTF8&iwloc=&output=embed"
              frameborder="0"
              scrolling="no"
              marginheight="0"
              marginwidth="0">
            </iframe>
            <iframe
              class="d-none d-md-block"
              width="500"
              height="300"
              id="gmap_canvas"
              src="https://maps.google.com/maps?q=101%20Chemin%20du%20Pey%20de%20l'Ancre%2040660%20Messanges&t=&z=17&ie=UTF8&iwloc=&output=embed"
              frameborder="0"
              scrolling="no"
              marginheight="0"
              marginwidth="0">
            </iframe>
            
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-5 ps-lg-5 ps-xl-0 pe-lg-5 contact-speech">
        <p>Pour toute demande de devis gratuit, merci de remplir le formulaire ci-dessous afin de cibler au mieux vos attentes. Je reviendrai ensuite vers vous pour affiner votre demande dans les plus brefs délais.</p>
        <p>> Le délai de fabrication est compris entre 2 et 3 mois.</p>
      </div>
    </div>

    <form name="contact" method="POST" data-netlify="true">
      <h2 class="mb-4">Demande de devis :</h2>
      <div class="row">
        <div class="col-12 col-md-6 required">
          <input type="text" name="Nom" placeholder=" Nom / Prénom" aria-required="true" required />
        </div>
        <div class="col-12 col-md-6 required">
          <select class="surf-level" name="Niveau" aria-required="true" required>
            <option value="Aucun"> Niveau de Surf</option>
            <option value="Debutant">Débutant</option>
            <option value="Intermediaire">Intermédiaire</option>
            <option value="Confirme">Confirmé</option>
            <option value="Expert">Expert</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <input type="tel" name="Telephone" placeholder=" Téléphone" />
        </div>
        <div class="col-12 col-md-6">
          <input type="text" name="Poids-Taille" placeholder=" Poids / Taille (Optionnel)" />
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 required">
          <input type="email" name="Email" placeholder=" E-mail" aria-required="true" required />
        </div>
        <div class="col-12 col-md-6 sav">
          <input type="checkbox" id="sav" name="SAV" />
          <label for="sav"> SAV / Réparation</label>
        </div>
      </div>
      <div class="row">
        <div class="col-12 required">
          <textarea type="text" name="Description" placeholder=" Description" rows="6" aria-required="true" required></textarea>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <select name="Modele" class="model">
            <option value="Aucun">Modèle</option>
            {% for board in collections.models %}
              <option value="{{ board.data.titre }}">{{ board.data.titre }} - {{ board.data.prix }}</option>
            {% endfor %}
            <option value="CUSTOM">CUSTOM - Sur Devis</option>
          </select>
        </div>
      </div>
      <h3>Caractéristiques : </h3>
      <h4>Dimensions <small>(en pieds et pouces)</small></h4>
      <div class="row">
        <div class="col-12 col-md-6 double-select">
          <label> Longueur </label>
          <div class="double-select-container">
            <select name="Longueur-Pieds" id="longueur">
              <option value="Aucun">Pieds</option>
              <option value="< 5 '">< 5 '</option>
              <option value="5 '">5 '</option>
              <option value="6 '">6 '</option>
              <option value="7 '">7 '</option>
              <option value="8 '">8 '</option>
              <option value="9 '">9 '</option>
              <option value="10 '">10 '</option>
              <option value="> 10 '">> 10 '</option>
            </select>
            <select name="Longueur-Pouces" id="longueur">
              <option value="Aucun">Pouces</option>
              <option value="0 &quot;">0 "</option>
              <option value="1 &quot;">1 "</option>
              <option value="2 &quot;">2 "</option>
              <option value="3 &quot;">3 "</option>
              <option value="4 &quot;">4 "</option>
              <option value="5 &quot;">5 "</option>
              <option value="6 &quot;">6 "</option>
              <option value="7 &quot;">7 "</option>
              <option value="8 &quot;">8 "</option>
              <option value="9 &quot;">9 "</option>
              <option value="10 &quot;">10 "</option>
              <option value="11 &quot;">11 "</option>
            </select>
          </div>
        </div>
        <div class="col-12 col-md-6 double-select">
          <label> Largeur </label>
          <div class="double-select-container">
            <select name="Largeur-Pouces" id="largeur">
              <option value="Aucun">Pouces</option>
              <option value="< 18 '">< 18 '</option>
              <option value="18 '">18 '</option>
              <option value="19 '">19 '</option>
              <option value="20 '">20 '</option>
              <option value="21 '">21 '</option>
              <option value="22 '">22 '</option>
              <option value="23 '">23 '</option>
              <option value="> 23 '">> 23 '</option>
            </select>
            <select name="Largeur-8eme-Pouces" id="largeur">
              <option value="Aucun">1 / 8 "</option>
              <option value="0/8 &quot;">0/8 "</option>
              <option value="1/8 &quot;">1/8 "</option>
              <option value="1/4 &quot;">1/4 "</option>
              <option value="3/8 &quot;">3/8 "</option>
              <option value="1/2 &quot;">1/2 "</option>
              <option value="5/8 &quot;">5/8 "</option>
              <option value="3/4 &quot;">3/4 "</option>
              <option value="7/8 &quot;">7/8 "</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 double-select">
          <label> Epaisseur </label>
          <div class="double-select-container">
            <select name="Epaisseur-Pouces" id="epaisseur">
              <option value="Aucun">Pouces</option>
              <option value="2 &quot;">2 "</option>
              <option value="3 &quot;">3 "</option>
            </select>
            <select name="Epaisseur-8eme-Pouces" id="epaisseur">
              <option value="Aucun">1 / 8 "</option>
              <option value="0/8 &quot;">0/8 "</option>
              <option value="1/8 &quot;">1/8 "</option>
              <option value="1/4 &quot;">1/4 "</option>
              <option value="3/8 &quot;">3/8 "</option>
              <option value="1/2 &quot;">1/2 "</option>
              <option value="5/8 &quot;">5/8 "</option>
              <option value="3/4 &quot;">3/4 "</option>
              <option value="7/8 &quot;">7/8 "</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <select name="Tail" class="tail">
            <option value="Aucun">Tail</option>
            <option value="Pin">Pin</option>
            <option value="Round Pin">Round Pin</option>
            <option value="Round">Round</option>
            <option value="Square">Square</option>
            <option value="Squash">Squash</option>
            <option value="Diamond">Diamond</option>
            <option value="Fish">Fish</option>
            <option value="Swallow">Swallow</option>
            <option value="Moon Square">Moon Square</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <select name="Rail" class="rail">
            <option value="Aucun">Rail</option>
            <option value="Liège">Liège (Inclus)</option>
            <option value="Paulownia 5/7">Paulownia 5' ~ 7' : 40 €</option>
            <option value="Paulownia 7/9">Paulownia 7' ~ 9' : 50 €</option>
            <option value="Paulownia >9">Paulownia > 9' : 60 €</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6">
          <select name="Derives" class="derives">
            <option value="Aucun">Dérives</option>
            <option value="Single">Single</option>
            <option value="2 + 1">2 + 1</option>
            <option value="Twin">Twin</option>
            <option value="Thruster">Thruster</option>
            <option value="Quatro (+20 euros)">Quatro (+20 €)</option>
            <option value="Cinquo (+30 euros)">Cinquo (+30 €)</option>
          </select>
        </div>
        <div class="col-12 col-md-6">
          <select name="Derive-Fixe-Boitier" class="deriv-box">
            <option value="Aucun">Dérives fixes ou Boitiers</option>
            <option value="Fixe">Fixe</option>
            <option value="Future (préconisé)">Future (préconisé)</option>
            <option value="FCS X2">FCS X2</option>
            <option value="FCS Fusion">FCS Fusion</option>
          </select>
        </div>
      </div>
      <h3 class="deco">Décorations : </h3>
      <div class="row">
        <div class="col-12 col-md-6">
          <select name="Lattage" class="lattage">
            <option value="Aucun">Lattage</option>
            <option value="1 : 40 €">1 : 50 €</option>
            <option value="2 : 60 €">2 : 70 €</option>
            <option value="3 : 80 €">3 : 90 €</option>
            <option value="4 : 100 €">4 : 110 €</option>
            <option value="+ de 4 : Sur devis">+ de 4 : Sur devis</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 pad">
          <input type="checkbox" id="pad" name="Pad-Liege" />
          <label for="pad"> PAD Liège ( < 7' : 70€ / > 7' : 100€ )</label>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-3 pyro">
          <input type="checkbox" id="pyro" name="Pyrogravure" />
          <label for="pyro"> Pyrogravure</label>
        </div>
        <div class="col-12 col-md-6 col-lg-3 insert">
          <input type="checkbox" id="insert" name="Insert-Bois" />
          <label for="insert"> Insert Bois</label>
        </div>
        <div class="col-12 col-md-6 col-lg-3 tails">
          <input type="checkbox" id="tail" name="Tail-Block" />
          <label for="tail"> Tail Block</label>
        </div>
        <div class="col-12 col-md-6 col-lg-3 teinte">
          <input type="checkbox" id="teinte" name="Teinte-Bois" />
          <label for="teinte"> Teinte Bois</label>
        </div>
      </div>
      <p class="disclaimer-header">* : Champs obligatoires.</p>
      <p class="disclaimer">Les informations que vous renseignez dans ce formulaire sont strictement confidentielles et ne servent qu'à la création du devis et à la prise de contact. Ces informations ne seront en aucun cas vendu à des tiers pour utilisation commerciale ou publicitaire.</p>
      <input class="submit-button" type="submit" value="Envoyer">
    </form>
  </div>

  <nav class="navbar justify-content-center">
    <a class="nav-link border-gold-right" href="/">HOME</a>
    <a class="nav-link border-gold-right" href="/a-propos">À PROPOS</a>
    <a class="nav-link border-gold-right" href="/blog">BLOG</a>
    <a class="nav-link border-gold-right" href="/models">MODELES</a>
    <a class="nav-link border-gold-right" href="/eco-boards">ECO-BOARDS</a>
    <a class="nav-link border-gold-right" href="/galerie">GALERIE</a>
    <a class="nav-link active border-gold-right" href="/contact">CONTACT</a>
    <a class="nav-link" href="/stages">STAGES</a>
  </nav>
</main>

{% include 'footer.njk' %}