---
title: ECO-BOARDS
description: Max Shape | Fabrication artisanale et écologique de planches de Surf en bois, non stratifiées, simplement vernies | Shape sur mesure.
layout: layout.njk
style: /css/eco-boards.css
ecoClass: active
---

{% include 'header.njk' %}

<main id="eco-boards-content">
  <h1>ECO-BOARDS</h1>
  <div class="eco-boards">
    <div class="row mb-4">
      <h2 class="mb-2 ps-lg-5">FABRICATION :</h2>
      <div class="col-12 col-lg-7 ps-lg-5">
        <p>Ces planches sont fabriquées à partir d'un pain de <strong>mousse de polystyrène</strong> en partie issu de <strong>matière recyclée</strong>. Il est tout d'abord shapé puis recevra un <strong>placage de bois entre 3 et 5 mm d'épaisseur</strong>. Cette combinaison de <strong>mousse et de bois</strong> permettra d'allier à merveille <strong>légèreté, flexibilité et solidité</strong>. Ainsi, ces planches sortent toutes <strong>aussi légères que celles en epoxy</strong> pour une <strong>résistance mécanique supérieure</strong> : finis les enfoncements.</p>
        <p>Il y a deux configurations possibles pour aborder les rails :</p>
        <ul>
          <li><strong>Le Rail Liège</strong>, très <strong>flexible</strong>, qui permettra d'obtenir une planche <strong>très réactive</strong>. C'est également une bonne option car sa souplesse garantie un bon amortissement en cas d'impact.</li>
          <li><strong>Le Rail Paulownia</strong> qui apportera un peu plus de rigidité à la planche, mais qui donne une <strong>"continuité" au plaquage Paulownia</strong>.</li>
        </ul>
      </div>
      <div class="col-12 col-lg-5 text-center">
        <img src="/assets/maxshape-planches.jpg" alt="Max Shape Planches">
      </div>
    </div>
    <div class="row mb-4 rail-list">
      <div class="col-12 col-md-6 rail-item">
        <img src="/assets/maxshape-rail-liege-schema.png" class="rail-img" alt="Max Shape Schéma Rail Liège">
        <img src="/assets/maxshape-rail-liege.jpg" class="rail-img" alt="Max Shape Rail Liège">
        <p>Rail Liège</p>
      </div>
      <div class="col-12 col-md-6 rail-item">
        <img src="/assets/maxshape-rail-paulownia-schema.png" class="rail-img" alt="Max Shape Schéma Rail Paulownia">
        <img src="/assets/maxshape-rail-paulownia.jpg" class="rail-img" alt="Max Shape Rail Paulownia">
        <p>Rail Paulownia</p>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 ps-lg-5 pe-lg-5">
        <p>Une fois le rail et le placage réalisé, il reste à peaufiner la forme générale de la planche qui, au final, ne sera <strong>pas stratifiée</strong> mais simplement <strong>recouverte d'un vernis à base d'huile de lin</strong>. L’intérêt étant de <strong>ne plus utiliser de fibre de verre et de résine</strong> et ainsi, de <strong>limiter les déchets</strong> qui en découlent. D'autant plus que <strong>le Paulownia et le liège rajoutent de la flottabilité</strong> à la planche contrairement au processus de stratification.</p>
        <p>Il est également possible de créer un <strong>plaquage de liège sur le pont</strong>, ce-dernier fera office de pad et vous n'aurez <strong>plus besoin de wax</strong>.</p>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 ps-lg-5 pe-lg-5">
        <h2 class="mb-2">DÉCORATION :</h2>
        <p>De nombreux éléments décoratifs sont possibles et ils ne changent rien au comportement ni au poids total de la planche.</p>
      </div>
    </div>
    <div class="row mb-4 deco-list">
      <div class="col-6 col-md-4 col-lg-2 deco-item">
        <img src="/assets/maxshape-deco-teinte.jpg" class="deco-img" alt="Max Shape Teinte du Bois">
        <p>Teinte du Bois</p>
      </div>
      <div class="col-6 col-md-4 col-lg-2 deco-item">
        <img src="/assets/maxshape-deco-pyro.jpg" class="deco-img" alt="Max Shape Pyrogravure">
        <p>Pyrogravure</p>
      </div>
      <div class="col-6 col-md-4 col-lg-2 deco-item">
        <img src="/assets/maxshape-deco-tailblock.jpg" class="deco-img" alt="Max Shape Tail Blocks">
        <p>Tail Blocks</p>
      </div>
      <div class="col-6 col-md-4 col-lg-2 deco-item">
        <img src="/assets/maxshape-deco-insert.jpg" class="deco-img" alt="Max Shape Insert Bois">
        <p>Insert Bois</p>
      </div>
      <div class="col-6 col-md-4 col-lg-2 deco-item">
        <img src="/assets/maxshape-deco-lattage.jpg" class="deco-img" alt="Max Shape Lattage">
        <p>Lattage</p>
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 ps-lg-5">
        <h2 class="mb-2">PROVENANCE DES MATERIAUX :</h2>
        <p>Créer une <strong>planche plus écologique</strong> passe par un choix plus judicieux des <strong>matériaux</strong>, mais aussi par le choix de leur <strong>provenance</strong>.</p>
        <ul>
          <li><strong>EPS</strong> - France</li>
          <li><strong>Paulownia</strong> - France / Italie / Espagne</li>
          <li><strong>Colle</strong> - France</li>
          <li><strong>Vernis</strong> - Finlande / France</li>
          <li><strong>Liège</strong> - France</li>
        </ul>
      </div>
    </div>
    <div class="row mb-4">
      <h2 class="mb-2 ps-lg-5">ENTRETIEN :</h2>
      <div class="col-12 col-lg-7 ps-lg-5">
        <p><strong>LE BOIS :</strong> Etant simplement vernie, il faudra prendre soin de votre planche, <strong>éviter de la poser sur du gravillon</strong> par exemple, et <strong>la rincer régulièrement</strong>. Dans le cas d'un <strong>usage intensif</strong>, il vous sera recommandé de passer une <strong>couche de vernie environ tous les trois ans</strong>.</p>
        <p>Le Nose et Tail étant des zones où les frottements sont importants, le vernis peut s'abîmer plus rapidement à ces endroits. Dans tous les cas, <strong>le Paulownia est imputrescible</strong>, donc même <strong>si le bois est à découvert</strong>, pas de panique, vous pouvez <strong>continuer à surfer</strong> ainsi.</p>
        <p><strong>PAD LIÈGE :</strong> Il est possible que le pad en liège s'encrasse à cause des micro-particules contenues dans l'eau. Encore une fois, n'hésitez pas à <strong>rincer votre planche à l'eau claire</strong> le plus régulièrement possible. Au bout d'un certain temps, il peut être utile de <strong>poncer légèrement la surface du pad pour récupérer de l'accroche</strong>.</p>
      </div>
      <div class="col-12 col-lg-5 text-center">
        <img src="/assets/maxshape-entretien.jpg" alt="Max Shape Entretien">
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 ps-lg-5 pe-lg-5">
        <p><strong>RÉPARATIONS :</strong> Il est très simple de réparer soi-même un impact. A l'aide d'un cutter, découpez soigneusement la partie endommagée puis recollez un morceau de Paulownia en suivant le même gabarit. Laissez sécher, rabotez, poncez, un coup de vernis et c'est fini. En ce qui concerne les gros bobos, je serai là pour m'en charger.</p>
      </div>
    </div>
  </div>

  <nav class="navbar justify-content-center">
    <a class="nav-link border-gold-right" href="/">HOME</a>
    <a class="nav-link border-gold-right" href="/a-propos">À PROPOS</a>
    <a class="nav-link border-gold-right" href="/blog">BLOG</a>
    <a class="nav-link border-gold-right" href="/models">MODELES</a>
    <a class="nav-link active border-gold-right" href="/eco-boards">ECO-BOARDS</a>
    <a class="nav-link border-gold-right" href="/galerie">GALERIE</a>
    <a class="nav-link border-gold-right" href="/contact">CONTACT</a>
    <a class="nav-link" href="/stages">STAGES</a>
  </nav>
</main>

{% include 'footer.njk' %}