---
title: ECO-BOARDS
description: Max Shape | Fabrication artisanale et écologique de planches de Surf en bois, non stratifiées, simplement vernies | Shape sur mesure.
layout: layout.njk
style: /css/eco-boards.css
ecoClass: active
---

{% include 'header.njk' %}

<main id="eco-boards-content">
  
</main>

{% include 'footer.njk' %}