---
title: GALERIE
description: Max Shape | Fabrication artisanale et écologique de planches de Surf en bois, non stratifiées, simplement vernies | Shape sur mesure.
layout: layout.njk
style: /css/galerie.css
galeryClass: active
---

{% include 'header.njk' %}

<main id="galery-content">
  
</main>

{% include 'footer.njk' %}