---
title: HOME
description: Max Shape | Fabrication artisanale et écologique de planches de Surf en bois, non stratifiées, simplement vernies | Shape sur mesure.
layout: layout.njk
style: /css/index.css
homeClass: active
---

{% include 'header.njk' %}

<main id="index-content">
  
</main>

{% include 'footer.njk' %}