---
title: HOME
description: Max Shape | Fabrication artisanale et écologique de planches de Surf en bois, non stratifiées, simplement vernies | Shape sur mesure.
layout: layout.njk
style: /css/index.css
homeClass: active
---

{% include 'header.njk' %}

<main id="index-content">
  <h1>Max Shape Surfboards</h1>
  <h2>UNGLASSED WOODEN SURFBOARDS</h2>

  <video class="index-video-loop shadow-light mt-xxl-4 mb-5" autoplay loop muted>
    <source src="/assets/maxshape-loop.mp4" type="video/mp4">
    <p>Votre navigateur ne prend pas en charge les vidéos HTML5.</p>
  </video>

  <nav class="navbar justify-content-center">
    <a class="nav-link active border-gold-right" href="/">HOME</a>
    <a class="nav-link border-gold-right" href="/a-propos">À PROPOS</a>
    <a class="nav-link border-gold-right" href="/blog">BLOG</a>
    <a class="nav-link border-gold-right" href="/models">MODELES</a>
    <a class="nav-link border-gold-right" href="/eco-boards">ECO-BOARDS</a>
    <a class="nav-link border-gold-right" href="/galerie">GALERIE</a>
    <a class="nav-link border-gold-right" href="/contact">CONTACT</a>
    <a class="nav-link" href="/stages">STAGES</a>
  </nav>
</main>

{% include 'footer.njk' %}