---
title: STAGES
description: Max Shape | Fabrication artisanale et écologique de planches de Surf en bois, non stratifiées, simplement vernies | Shape sur mesure.
layout: layout.njk
style: /css/stages.css
stagesClass: active
---

{% include 'header.njk' %}

<main id="stages-content">
  <h1>STAGES</h1>
  <div class="stages">
    <div class="row mb-4">
      <h2 class="mb-2 ps-lg-5">DÉROULEMENT :</h2>
      <div class="col-12 col-lg-7 ps-lg-5">
        <p>Si vous aussi, vous aimez créer et façonner la matière, alors cette formule est faite pour vous !</p>
        <p>Je vous propose des <strong>stages de shape individuels</strong> afin de vous accompagner au mieux sur chaque étape de fabrication.</p>
        <p><strong>Au programme :</strong> shape du pain de mousse , ajout des renforts en bois , découpe du placage bois, mise sous vide, collage du rail liège, insertion des boitiers puis le shape final de la planche. Le tout se déroulera sur 6 jours. Je me chargerai ensuite de faire les vernis. Pour ceux qui viennent de loin , prévoyez 9 jours sur place si vous souhaitez repartir avec votre planche si non un envoi sera possible .</p>
        <p>Le choix du modèle et des côtes devra être effectué avant le stage afin de préparer à l'avance le matériel nécessaire. </p>
        <p>N'hésitez pas à <a href="mailto:maxshape@hotmail.fr">me contacter</a> pour toute demande ou précision.</p>
      </div>
      <div class="col-12 col-lg-5 text-center">
        <img src="/assets/maxshape-stage-01.jpeg" alt="Max Shape Stage">
      </div>
    </div>
    <div class="row mb-4">
      <div class="col-12 col-md-4 text-center">
        <img src="/assets/maxshape-stage-02.jpeg" alt="Max Shape Stage">
      </div>
      <div class="col-12 col-md-4 text-center mb-4">
        <img src="/assets/maxshape-stage-03.jpeg" alt="Max Shape Stage">
      </div>
      <div class="col-12 col-md-4 ps-lg-5 pe-lg-5 tarifs">
        <h3 class="mb-4 text-center">TARIFS (PLANCHE INCLUSE)</h3>
        <p>5 à 6 pieds 1150€</p>
        <p>6 à 7 pieds 1300€</p>
        <p>7 à 8 pieds 1450€</p>
        <p>8 à 9 pieds 1600€</p>
        <p>9 à 10 pieds 1750€</p>
      </div>
    </div>
  </div>

  <nav class="navbar justify-content-center">
    <a class="nav-link border-gold-right" href="/">HOME</a>
    <a class="nav-link border-gold-right" href="/a-propos">À PROPOS</a>
    <a class="nav-link border-gold-right" href="/blog">BLOG</a>
    <a class="nav-link border-gold-right" href="/models">MODELES</a>
    <a class="nav-link border-gold-right" href="/eco-boards">ECO-BOARDS</a>
    <a class="nav-link border-gold-right" href="/galerie">GALERIE</a>
    <a class="nav-link border-gold-right" href="/contact">CONTACT</a>
    <a class="nav-link active" href="/stages">STAGES</a>
  </nav>
</main>

{% include 'footer.njk' %}